# Node
node_modules
npm-debug.log*
yarn.lock
package-lock.json

# Next.js
.next
out
dist

# Prisma local database
prisma/dev.db

# Env / secrets
.env
.env.local

# OS / editor files
.DS_Store
Thumbs.db
.vscode
.vs
